:root {
	/* color */
	--color-black: #3f454d;
	--color-white: #ffffff;
	--color-blue: #3b88c3;
	--color-yellow: #fbbe28;
	--color-pink: #fd7f84;
	--color-light-grey: #dfdfdf;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-black);
}
ul {
	list-style: none;
	padding: 0;
}
.wrap {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	padding-top: 70px;
}

/* header*/
header {
	text-align: center;
}

/* nav */
nav {
	margin: 5px 0 20px 0;
}
nav ul {
	display: flex;
	justify-content: space-between;
}
.btn {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.btn.clothes {
	justify-content: space-evenly;
}
.btn.clothes li {
	text-align: center;
}
.btn.clothes li.active {
	display: block;
}
.btn.clothes img {
	width: 50%;
}
.btn.color__btn li {
	padding: 8px 13px;
	margin-right: 5px;
}
.btn li.blue {
	background-color: var(--color-blue);
}
.btn li.yellow {
	background-color: var(--color-yellow);
}
.btn li.pink {
	background-color: var(--color-pink);
}

/*section*/
section {
	height: 380px;
	overflow-y: scroll;
}
.detail {
	background-color: var(--color-white);
	display: flex;
	align-items: center;
	gap: 30px;
	margin-bottom: 10px;
	padding: 5px;
	padding-left: 25px;
}

.detail.active {
	display: none;
}

.detail img {
	width: 10%;
}
