:root {
	/* color */
	--color-black: #3f454d;
	--color-white: #ffffff;
	--color-blue: #3b88c3;
	--color-yellow: #fbbe28;
	--color-pink: #fd7f84;
	--color-light-grey: #dfdfdf;

	/* size */
	--base-space: 8px;
	--size-button: 60px;
	--font-size: 18px;
	--size-border: 4px;
	--size-thumbnail: 50px;

	/* animation */
	--animation-duration: 300ms;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-black);
	height: 100vh;
}

/* logo*/
.logo {
	cursor: pointer;
	transition: transform var(--animation-duration) ease;
}
.logo:hover,
.btn:hover {
	transform: scale(1.1);
}

/* button */
.buttons {
	display: flex;
	align-items: center;
	margin: 10px 20px;
}
.btn {
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
	transition: transform var(--animation-duration) ease;
	margin-right: var(--base-space);
}
.img__btn {
	width: var(--size-button);
	height: var(--size-button);
}
.color__btn {
	font-size: var(--font-size);
	padding: calc(var(--base-space) * 2);
	border-radius: var(--size-border);
}
.color__btn.blue {
	background-color: var(--color-blue);
}
.color__btn.yellow {
	background-color: var(--color-yellow);
}
.color__btn.pink {
	background-color: var(--color-pink);
}

/* items */
.items {
	max-width: 600px;
	width: 100%;
	height: 440px;
	list-style: none;
	padding-left: 0;
	overflow-y: scroll;
}
.item {
	background-color: var(--color-white);
	display: flex;
	align-items: center;
	padding: var(--base-space);
	margin-bottom: var(--base-space);
	padding-left: 20px;
}
.item.invisible {
	display: none;
}
.item__thumbnail {
	width: var(--size-thumbnail);
	height: var(--size-thumbnail);
}
.item__desc {
	margin-left: var(--base-space);
	font-size: var(--font-size);
}

/* scrollbar */
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background: palevioletred;
}
